// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$bug-color: #3b9950;
$bug-border-color: #1c4b26;
$dark-color: #5a5979;
$dark-border-color: #040706;
$dragon-color: #61cad9;
$dragon-border-color: #448b95;
$electric-color: #fbfa74;
$electric-border-color: #e2e433;
$fairy-color: #ea1369;
$fairy-border-color: #971944;
$fighting-color: #f06138;
$fighting-border-color: #9a4025;
$fire-color: #fd4c5a;
$fire-border-color: #ab1f23;
$flying-color: #93b2c7;
$flying-border-color: #4a677d;
$ghost-color: #906790;
$ghost-border-color: #393267;
$grass-color: #26cb4e;
$grass-border-color: #147b3e;
$ground-color: #ab6e2e;
$ground-border-color: #6e491f;
$ice-color: #d8f0fa;
$ice-border-color: #84d3f4;
$normal-color: #ca98a6;
$normal-border-color: #75515b; 
$poison-color: #9b69d9;
$poison-border-color: #5d2c89;
$psychic-color: #f81c91;
$psychic-border-color: #a42a6c;
$rock-color: #8b3e21;
$rock-border-color: #4a180a;
$steel-color: #42bd94;
$steel-border-color: #5e766d;
$water-color: #86a8fc;
$water-border-color: #1553e1;

